<h2>Cognos Visulization</h2>
<hr>
<p>
  Here we can view the embedded cognos functionality
</p>

<iframe src="https://dataplatform.cloud.ibm.com/dashboards/de510a79-3113-43b2-8298-7c5b4a76da67/view/5e12e20323be1feb76b1bde407cc2c057a3e270bb1bb8756d1d47b490a337197a83d1096c8261a5d89110d61a7ea150dc9" width="100%" height="1000"> </iframe>