<h2>All Trial Run Data</h2>
<hr>

<%= render partial: 'shared/table', locals: { header: ['ID'],
                                              options: [{title: 'Show', url: "item_path(m)"},
                                                        {title: 'Edit', url: "edit_item_path(m)"},
                                                        {title: 'Destroy', url: "item_path(m)", method: :delete, data: { confirm: 'Are you sure?'} }],
                                              model: @items,
                                              row: [:id]} %>


